## Import Pandas
- Library for data analysis
- Note: df=DateFrame

In [1]:
import pandas

In [2]:
#Load csv file
csvpath="file1.csv"
df=pandas.read_csv(csvpath)

In [3]:
#Shorten the name of library - No limitation
import pandas as pd
csvpath="file1.csv"
df=pd.read_csv(csvpath) #read the csv using read_csv()

## Dataframes

In [4]:
csvpath="file1.csv"
df=pd.read_csv(csvpath)
df.head() #head() examinate the first 5 row

     Name        DOB
0   Wendy  20-Jun-22
1     Lim  21-Oct-00
2    Andy   3-Jan-80
3    Chan   4-Jan-80
4  Esther   5-Jan-80

In [5]:
#Create dataframes
#Key=label
#Value=row
song={"Albumn":["A","B","C"],"Year":["1900","2021","1890"],"Artist":["Ben","Lim","Esther"]}
song_frame=pd.DataFrame(song) #Cast dictionary to data frame using DataFrame(dir)
song_frame.head()

  Albumn  Year  Artist
0      A  1900     Ben
1      B  2021     Lim
2      C  1890  Esther

In [6]:
#Extract the column - new data frame created
x=song_frame[["Year"]]
x.head()

   Year
0  1900
1  2021
2  1890

In [7]:
#Extract multiple column
y=song_frame[["Year","Artist"]]
y.head()

   Year  Artist
0  1900     Ben
1  2021     Lim
2  1890  Esther

In [32]:
#Access the element (Previous known as ix, now is iloc[row,col/label])
#iloc - integer positioning, no label is allow: [1,2]
#loc - label base indexing
song_frame.iloc[0,0]

'A'

In [33]:
df.iloc[5,1]

'6-Jan-80'

In [34]:
df.loc[1,"DOB"]

'21-Oct-00'

In [35]:
#Slice
df.iloc[0:9,0:2]

     Name        DOB
0   Wendy  20-Jun-22
1     Lim  21-Oct-00
2    Andy   3-Jan-80
3    Chan   4-Jan-80
4  Esther   5-Jan-80
5    Owen   6-Jan-80
6   Cindy   7-Jan-80
7    Ryan   8-Jan-80
8    Mike   9-Jan-80

In [37]:
song_frame.loc[0:1,"Year":"Artist"]

   Year Artist
0  1900    Ben
1  2021    Lim