In [9]:
import pandas as pd
dic={"Year":[1990,1990,1990,2000,2000,2000,1999,1987,2022],"Name":["A","B","C","A","A","C","D","E","O"]}
song=pd.DataFrame(dic)
song.iloc[:,:]

   Year Name
0  1990    A
1  1990    B
2  1990    C
3  2000    A
4  2000    A
5  2000    C
6  1999    D
7  1987    E
8  2022    O

In [12]:
#List Uunique values
song["Name"].unique()

array(['A', 'B', 'C', 'D', 'E', 'O'], dtype=object)

In [13]:
song["Year"].unique()

array([1990, 2000, 1999, 1987, 2022], dtype=int64)

In [14]:
#Find the element that fulfill the condition
#Boolean
song["Year"]>2000

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8     True
Name: Year, dtype: bool

In [19]:
song1=song[song["Year"]>2000]
print(song1)

   Year Name
8  2022    O

## Save Data Frame

In [27]:
#Save as CSV
song1.to_csv("NewSong.csv",index=False) #No obs

In [28]:
#Save as txt
song1.to_csv("NewSong.txt", index=False, header=False) #No obs and hearder